@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
.hero{
    width:100%;
    height:88vh;
}
.circiles-div div{
    border-radius: 100%;
background-color: #ff945d;

width:40px;
height:32px;
color:#ff945d;
position: absolute;
box-shadow: -9px 6px 8px #b36e4c;

}
.circiles-div .circle1{
    top:170px;
    left:130px;background-color:rgb(243, 160, 130);

}
.circiles-div .circle2{
    width: 60px;
    height: 50px;
    top:310px;background-color:rgb(243, 160, 130);
    left:230px;
}
.circiles-div .circle3{
    width: 540px;
    height: 439px;
    top:120px;
    left:420px;
    background-color:rgb(243, 160, 130);
}
.circiles-div .circle4{
    width: 22px;
    height: 20px;
    top:510px;
    left:100px;
    background-color:#f3f2f2;
    opacity: 0.2;
}
.hero-content{
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffbb98;
}
.hero-texts{
    z-index: 1;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap:30px;
    color:white;
    width:570px;
    text-align: start;
    padding: 0 0 0 120px;
}
.hero-content h1{
    font-family: 'Yeseva One', serif;
    font-size: 60px;
}
.hero-content h1 span{
    color:#f26522;
    
}
.hero-texts p{
    font-size: 18px;
    font-family: 'Lora', serif;
}
.hero-content .hero-img{
    z-index: 1;
    height: 100%;
    width:37rem;
}
.hero-img img{
    height: 100%;
    width: 100%;
}
.hero .btn{
    background-color:orangered;
    
    width:130px;
    height: 43px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    color:white;
    padding:4px 0;
    text-decoration:none;
    display:flex;
    justify-content:center;
align-items:center;
}

.btn:hover{
    cursor:pointer;
    background-color: #282c34;
    color:white;
    transition: 0.6s;
  }
  @media screen and (max-width:835px){
    
    .hero-texts{
       
        height: 390px;
        width:400px;
        padding: 0 30px 0 50px;
       
    }
    .hero-content h1{
        font-size: 40px;
        
    }
    .hero-content .hero-img{
        width:30rem;
    }
    .circiles-div .circle3{
        width: 230px;
        height: 279px;
        top:120px;
        left:60px;
        background-color:rgb(243, 160, 130);
    }
    .circiles-div .circle1{
        top:100px;
        left:80px;
    
    }
    .circiles-div .circle2{
        width: 60px;
        height: 50px;
        top:530px;
        left:230px;
    }
  }


  
  @media screen and (max-width:430px){
    .hero-texts{
        
        padding: 0  38px;
    }
    .hero-texts p{
    font-size: 0.8rem;

    }
    .hero-content h1{
        font-size: 18px;
        
    }
    .hero-content .hero-img{
        width:28rem;
    }
  }